*,*::before,*::after{
   margin: 0;
   padding: 0;
   border: 0;
   box-sizing: border-box;
}

#password-description, #username-description, #login-description, #treelabel {
   display: none;
}

:root{
   --dark: rgb(58, 57, 57);;
}

header {
   display: grid;
   grid-template-columns: 2fr 1fr;
   height: 20vh;
   align-items: center;
   background-image: linear-gradient(#fff 97% , #000);
   font-size: 1.3rem;
   color: var(--dark);
   margin-bottom: 5vh;
}

.header-list {
   display: flex;
   justify-content: space-around;
}
.header-list__item{
   display: flex;
}

.header-list__link{
   text-decoration: none;
   color: var(--dark);
}

form {
   transform: translateY(-5px);
   grid-column: 2 / 3;
   display: grid;
   grid-template-rows: 1fr 1fr;
   width: 15vw;
}

.form-inputs {
   position: relative;
   display: flex;
   align-items: center;
}

.form-label{
   margin: 1vh 0;
}

.form-input {
   height: 3vh;
   border: 1px solid var(--dark);
   border-radius: 5px;
   padding: 5px;
}

.form-button{
   position: absolute;
   width: 90px;
   height: 40px;
   background-color: transparent;
   color: var(--dark);
   border: 1px solid var(--dark);
   border-radius: 5px;
   top: 50%;
   right: -150px;
}
.form-button:active{
   background-color: #464646;
}

main{
   text-align: center;
}

.main-title {
   color: var(--dark);
   font-size: 1.5em;
   overflow: hidden;
   white-space: nowrap;
   margin: 0 auto;
   animation: typing 3s steps(40), blink 3s steps(40);
   margin-bottom: 5vh;
}
@keyframes typing {
   from {
      width: 0;
   }
   to {
      width: 12%;
   }
}

@keyframes blink {
   from {
      border-right:2px solid transparent;
   }
   50% {
      border-right:2px solid rgb(111, 111, 111);
   }
   100% {
      border-right:2px solid rgb(0, 0, 0);
   }
}

section {
   margin-bottom: 5vh;
}

.section-list {
   margin: 1vh 0;
}

.grid-container {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 20px;
   padding: 20px;
   max-width: 800px;
   margin: 50px auto;
}

.grid-item {
   color: var(--dark);
   padding: 20px;
   text-align: center;
   border-radius: 5px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   transition: transform 0.3s ease-in-out;
}

.grid-item:hover {
   transform: scale(1.05);
}

footer{
   /* text-align: center; */
}
iframe{
   margin: 2vh 0;
   width: 150px;
   height: 150px;
}

.footer-link{
   text-decoration: none;
}

.footer-info{
   transform: translate(20px, 20px, 0);
}

table {
   border-collapse: collapse;
   width: 100%;
   max-width: 600px;
   margin: -150px auto;
}

th, td {
   border: 1px solid #ddd;
   padding: 8px;
   text-align: left;
}

thead {
   background-color: #f2f2f2;
}

tr:hover {
   background-color: #f5f5f5;
}

thead tr {
   background-color: #ddd;
}

th {
   background-color: #585a58;
   color: white;
}

@media screen and (max-width: 1400px) {
   .grid-container {
      grid-template-columns: 1fr;
   }
}
